---
import AuthLayout from "../../layouts/AuthLayout.astro";
import LoginView from "../../features/auth/LoginView.astro";
import "../../styles/login.css";
---

<AuthLayout title="SCISE - Login">
  <div class="auth-card">
    <LoginView />
  </div>
</AuthLayout>

