<section class="dashboard">

    <!-- <aside class="sidebar">
        <h2>SCISE</h2>

        <nav class="menu">
            <a href="#">Inicio</a>
            <a href="#">Usuarios</a>
            <a href="#">Equipos</a>
            <a href="#">Reportes</a>
            <a href="#">Configuracion</a>
        </nav>
    </aside> -->

    <main class="content">
        <header class="topbar">
            <h1>Dashboard Administrador</h1>
            <button id="logoutBtn">Cerrar Sesion</button>
        </header>

        <section class="cards">
            <article class="card">
                <h3>Usuarios Registrados</h3>
                <p>124</p>
            </article>

            <article class="card">
                <h3>Equipos Activos</h3>
                <p>87</p>
            </article>

            <article class="card">
                <h3>Ingresos Hoy</h3>
                <p>32</p>
            </article>
        </section>

        <section class="panel">
            <h2>Actividad Reciente</h2>

            <article class="panel-box">Registro de ingreso - Usuario 1</article>

            <article class="panel-box">Salida de equipo - Usuario 2</article>

            <article class="panel-box">Nuevo usuario creado</article>
        </section>
    </main>
</section>
