---
import CajaPanelInicial from "./CajaPanelInicial.astro";
import CajaAcciones from "./CajaAcciones.astro";
import CajaBienvenida from "./CajaBienvenida.astro";
import CajaHistorialReciente from "./CajaHistorialReciente.astro";
---

<section class="dashboard-page">
  <CajaPanelInicial />
  <CajaAcciones />
  <CajaHistorialReciente />
  <CajaBienvenida />
</section>
