<section class="ingreso-actions">
  <button class="ingreso-button ingreso-button--secondary" id="btnCancelar" type="button">
    Cancelar
  </button>
  <button class="ingreso-button ingreso-button--primary" id="btnRegistrar" type="button" disabled>
    Registrar ingreso
  </button>
</section>
