<aside class="app-sidebar">
  <nav>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/usuarios">Usuarios</a></li>
      <li><a href="/roles">Roles</a></li>
      <li><a href="/permisos">Permisos</a></li>
      <li><a href="/cursos">Cursos</a></li>
      <li><a href="/grupos">Grupos</a></li>
      <li><a href="/inscripciones">Inscripciones</a></li>
      <li><a href="/reportes">Reportes</a></li>
    </ul>
  </nav>
</aside>
