---
import LoginView from "../features/auth/LoginView.astro";
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout title="SCISE - Login">
  <div class="auth-card">
    <LoginView />
  </div>
</AuthLayout>

  <script>
    // Se ejecuta en el cliente
    window.addEventListener('DOMContentLoaded', () => {
      // 1. Verificar sesión activa
      const rawSession = localStorage.getItem("scise-session");

      if (!rawSession) {
        // No hay sesión -> ir al login
        window.location.replace("/auth/login");
        return;
      }

      try {
        const session = JSON.parse(rawSession);
        
        // 2. Hay sesión -> redirigir a dashboard
        if (session.role === "login") {
          window.location.replace("/dashboard/admin");
        } else if (session.role === "login") {
          window.location.replace("/dashboard/user");
        } else {
          // Rol inválido -> ir al login por seguridad
          localStorage.removeItem("scise-session");
          window.location.replace("/auth/login");
        }
      } catch (err) {
        // Datos corruptos en localStorage -> ir al login
        localStorage.removeItem("scise-session");
        window.location.replace("/auth/login");
      }
    });
  </script>

