<section class="salida-actions">
  <button class="salida-button salida-button--secondary" id="btnCancelar" type="button">
    Cancelar
  </button>
  <button class="salida-button salida-button--primary" id="btnRegistrar" type="button" disabled>
    Registrar salida
  </button>
</section>
