---
import BaseLayout from "./BaseLayout.astro";
import AppNavbar from "../components/navigation/AppNavbar.astro";

interface Props {
  title?: string;
}

const { title = "SCISE - App" } = Astro.props;
---

<BaseLayout title={title}>
  <div class="app-shell">
    <AppNavbar />
    <main class="app-content">
      <slot />
    </main>
  </div>
</BaseLayout>
